<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Store</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="../assets/img/music-store.png" type="image/png">
    <!-- css propio -->
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
    <main>
        <nav>
            <ul>
                <li>
                    <a href="home.html"><img class="logo" src="../assets/img/logo.svg" /></a>
                </li>
                <li><a href="home.html">Inicio</a></li>
                <li><a href="../backend/views/categorias.html">Categorias</a></li>
                <li><a href="../backend/lista_categorias.php">Lista Categorias</a></li>
                <li><a href="../backend/views/productos.html">Productos</a></li>
                <li><a href="../backend/lista_productos.php">Lista Productos</a></li>
            </ul>
        </nav>
    </main>
</body>

</html>